<!DOCTYPE html>
<style>
    p {
        text-align: center;
    }
</style>
<head>
    <h1>About Us</h1>
    <div class="centered-form-wrapper" style="width: fit-content; min-width: min(500px, 90vw); max-width: 95vw;">
        <h5>Raven Drives: A Carpooling System for Ravens</h5><br>

        Do you have a hard time finding rides from campus to the airport or Walmart and back? Do you wish you could
        easily split your ride costs with others to save money? Do you wish you could earn money from making a trip you
        were going to make anyways? Introducing Raven Drives, the better way to carpool for ravens!

        <br>
        <h5>Doesn't Raven Rides already exist?</h5><br>

        Yes, the Raven Rides Facebook group does exist, but is basically useless. Out of the past 20 ride requests
        posted in Raven Rides, only 2 of them were answered. You have better chances surviving cardiac arrest outside of
        a hospital than you do of finding a ride using Raven Rides.
        <br>
        <br>
        Our hypothesis is that Raven Rides fails for a few reasons:
        <ul style="list-style-type:disc;">
            <li>
                It is a Facebook group. However, Facebook is mostly used by Boomers and Gen X. Few Gen Z uses Facebook.
            </li>
            <li> Raven Rides is primarily used as a request (for ride) and answer model. We suggest that an offer (of
                ride)
                and
                accept model may be more effective.
            </li>
            <li>
                A group chat is an extremely inefficient way to form pairs from a large group of people. This is because
                each person must manually scroll through every offer/request to find the one that matches what they are
                looking for. Instead, a dedicated platform can automatically filter data and only display content
                relevant to a specific user.
            </li>
        </ul>

        <h5>Raven Drives vs Raven Rides is confusing</h5><br>
        Perhaps slightly confusing, but we are lacking a better name. If you have a better suggestion let us know.
        <br>

        <h5>Raven Drives needs You!</h5><br>
        Social networks only work well when they have a decent amount of members.
        So don't leave; invite your friends instead! We can be better than Raven Rides as long as we can get more
        people.
        <br>
        <h5>Privacy</h5><br>
        This project was created by people that use privacy respecting software alternatives such as Linux instead of
        Windows or Mac,
        and LineageOS instead of Android or iOS. We probably care more about your privacy than you do.
        We will never share your data with third parties without your consent.
        Our entire project's code is open source so you can read the code and determine whether it is trustworthy for
        yourself at our
        <a href="https://github.com/vExcess/raven-drives">GitHub</a>.
        Lastly, Raven Drives is only useable by persons with a @ravens.benedictine.edu email address.
        This prevents outsiders from knowing your whereabouts.
        <br>

        <p>
            <small>This is a Benedictine College Discovery Day Project created by Vincent [LastName], Jared Gleisner,
                and Donald [LastName]</small>
        </p>
    </div>


</head>