<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="/" class="brand">RAVEN<span>DRIVES</span></a>
        <div>
            <% if (userData?.displayName) { %>
                <div class = "dropdown">
                    <span class="display_name dropbtn" id="user_display_name"><%= userData.displayName %></span>
                    <div class="dropdown-content">
                        <a href="account">Account</a>
                        <a href="rides">Rides</a>
                        <a href="offers">Offers</a>
                        <a href="requests">Requests</a>
                        <a href="help">Help</a> 
                    </div>
                </div>
            <% } else if (!url.startsWith("/login") && !url.startsWith("/signup")) { %>
                <a href="login" class="btn" style="padding: 8px 16px; font-size: 0.8rem;">Login</a>
                <span style="display: inline-block; width: 4px;"><!-- spacer --></span>
                <a href="signup" class="btn" style="padding: 8px 16px; font-size: 0.8rem;">Create Account</a>
            <% } %>
        </div>
    </div>

    <div class="container">
        <%- content %>
    </div>

</body>
</html>
