<div class="centered-form-wrapper" style="width: fit-content; min-width: min(500px, 90vw); max-width: 95vw;">
    <h2 class="text-center w-100">Request a Ride</h2>
    <form action="/API/add_request" method="post">
        <div>
            <label>Pickup Location</label>
            <input type="text" name="pickup_location" placeholder="e.g. The Joe" required>
        </div>
        <div>
            <label>Dropoff Location</label>
            <input type="text" name="dropoff_location" placeholder="e.g. KC Airport" required>
        </div>
        <div style="display: flex; gap: 10px;">
            <div style="flex: 1;">
                <label>Pickup Time</label>
                <input type="datetime-local" name="pickup_time" required>
            </div>
            <div style="flex: 1;">
                <label>Dropoff Time</label>
                <input type="datetime-local" name="dropoff_time" required>
            </div>
        </div>
        <div>
            <label>Will Pay ($)</label>
            <input type="number" name="price" min="0" placeholder="15" required>
        </div>
        <div>
            <label>Notes</label>
            <textarea name="notes" placeholder="Use this (optionally) for any any special details, like if you need a lot of trunk space because you're bringing a lot of luggage"></textarea>
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <input type="submit" value="Post Request" class="btn w-100">
        </div>
    </form>
</div>
