<div class="centered-form-wrapper">
    <% if (userData === null) { %>
        <h2 class="text-center w-100">Join the Crew</h2>
        <form id="signup" action="/API/signup" method="POST">
            <div>
                <label>BC Email</label>
                <input type="email" name="email" id="email" placeholder="user@ravens.benedictine.edu" required autocomplete="email" value="<%= userData?.username ?? '' %>">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" id="password" placeholder="Create a password" required autocomplete="new-password">
            </div>
            <div>
                <label>Display Name</label>
                <input type="text" name="name" id="name" placeholder="Your Name" required autocomplete="name">
            </div>
            <div style="text-align: center; margin-top: 10px;">
                <input type="submit" value="Sign Up" class="btn w-100">
            </div>
        </form>
        <div style="margin-top: 20px; text-align: center; font-size: 0.9rem;">
            <div id="form-error-message"></div>
            <p style="color: #666;">Already have an account? <a href="login">Login</a></p>
        </div>
    <% } else { %>
        <h2>You are already logged in!</h2>
        <a href="/" class="btn w-100" style="padding: 8px 16px; font-size: 0.8rem;">Home</a>
    <% } %>
</div>

<script>
// do auth in JS so we don't have to do a page reload every submission
let signupForm = document.getElementById("signup");
let errorEl = document.getElementById("form-error-message");
signupForm.addEventListener("submit", e => {
    e.preventDefault(); // prevent the page from reloading

    let email = document.getElementById("email").value;
    let password = document.getElementById("password").value;
    let name = document.getElementById("name").value;

    fetch("/API/signup", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            email,
            password,
            name
        })
    }).then(async (res) => {
        if (res.status !== 200) {
            return Promise.resolve(`AuthError: ${await res.text()}`);
        }
        return res.text();
    }).then(res => {
        if (res.startsWith("AuthError: ")) {
            const errorMessage = res.slice("AuthError: ".length);
            
            if (errorMessage.startsWith("[")) {
                // is a validator error
                const parsed = JSON.parse(errorMessage)[0];
                errorEl.innerText = parsed.instancePath.slice(1) + " " + parsed.message;
            } else {
                // is a custom error
                errorEl.innerText = errorMessage;
            }
        } else {
            // store auth cookie and redirect to home
            const token = res;
            console.log(res);
            document.cookie = `token=${token}; max-age=${60*60*24*90}; Secure; path=/`;
            window.location.href = "/confirm_email";
        }
    })
});
    </script>
