<div class="centered-form-wrapper">
    <h2 class="text-center w-100">Join the Crew</h2>
    <form action="" method="post">
        <div>
            <label>BC Email</label>
            <input type="email" name="email" placeholder="user@ravens.benedictine.edu" required autocomplete="email" value="<%= userData?.username ?? '' %>">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="Create a password" required autocomplete="new-password">
        </div>
        <div>
            <label>Display Name</label>
            <input type="text" name="display_name" placeholder="Your Name" required autocomplete="name">
        </div>
        <div style="text-align: center; margin-top: 10px;">
            <input type="submit" value="Sign Up" class="btn w-100">
        </div>
    </form>
    <div style="margin-top: 20px; text-align: center; font-size: 0.9rem;">
        <p style="color: #666;">Already have an account? <a href="login">Login</a></p>
    </div>
</div>
