<div style="display: flex;">
    <!-- filters sidebar -->
    <div>
        <form id="filters">
            <label for="pickup_location">Pickup Location</label>
            <input id="pickup_location" name="pickup_location" type="text" value="">
            <br>

            <label for="dropoff_location">Dropoff Location</label>
            <input id="dropoff_location" name="dropoff_location" type="text" value="">
            <br>

            <label for="pickup_timerange_start">Pickup TimeRange Start</label>
            <input id="pickup_timerange_start" name="pickup_timerange_start" type="datetime-local">
            <br>

            <label for="pickup_timerange_end">Pickup TimeRange End</label>
            <input id="pickup_timerange_end" name="pickup_timerange_end" type="datetime-local">
            <br>

            <div class="checkbox-group">
                <label for="open">Open</label>
                <input id="open" name="open" type="checkbox" checked>
            </div>

            <div class="checkbox-group">
                <label for="closed">Closed</label>
                <input id="closed" name="closed" type="checkbox">
            </div>

            <button type="submit">Apply</button>
        </form>
    </div>

    <!-- main content -->
    <div>
        <div id="form-error-message"></div>
        <h1 id="h1-title">Loading requests...</h1>
        <div class="listing-container"></div>
        <div class="centered-form-wrapper" style="display: none;">
            <div id="form-error-message"></div>
        </div>
    </div>
</div>

<script>
let titleh1 = document.getElementById("h1-title");
let listingContainer = document.getElementsByClassName("listing-container")[0];
let errorWrapper = document.getElementsByClassName("centered-form-wrapper")[0];
let errorEl = document.getElementById("form-error-message");

function renderErrorWrapper(err) {
    errorWrapper.style.display = "block";
    titleh1.innerText = "An Error Occured";
    console.log(err);
    renderError(err.toString().replace("Error: ", ""));
}

function renderRequests(requests) {
    titleh1.innerText = "Open Requests";

    if (requests.length === 0) {
        listingContainer.innerHTML = `
            <div style="text-align: center; color: #aaa; margin-top: 50px;">
                <p>No open requests currently available.</p>
                <a href="request" class="btn mt-4">Request a Ride</a>
            </div>
        `;
    } else {
        listingContainer.innerHTML = "";

        requests.forEach(request => {
            let el = document.createElement("div");

            let pickup_location = escape(request['pickup_location']),
                dropoff_location = escape(request['dropoff_location']),
                pickup_timerange_start = escape(secondsToDateTimeString(request['pickup_timerange_start'])),
                pickup_timerange_end = escape(secondsToDateTimeString(request['pickup_timerange_end'])),
                creator_name = escape(request['creator_name']),
                creator_email = escape(request['creator_email']),
                price = escape(request['price'] ? "$"+request['price'] : "");
            
            if (!loggedIn) {
                pickup_timerange_start = pickup_timerange_end = "Login to view time data";
                creator_name = "Login to view client information";
            }

            el.innerHTML = `<div class="listing-card">
                <div class="listing-details">
                    <h3>${ pickup_location } &rarr; ${ dropoff_location }</h3>
                    <div class="listing-meta">
                        <strong>Pickup:</strong> ${ pickup_timerange_start }<br>
                        <strong>Dropoff:</strong> ${ pickup_timerange_end }
                        <br>
                        <small>Posted by: ${ creator_name } (<a href="mailto:${ creator_email }">Contact</a>)</small>
                    </div>
                </div>
                <div class="listing-price">
                    ${ price }
                </div>
            </div>`;

            listingContainer.append(el);
        });
    }
}

fetch("/API/requests")
    .then(fetchMiddleware)
    .then(res => {
        if (typeof res === "string" && res.startsWith("Error: ")) {
            renderErrorWrapper(res);
        } else {
            renderRequests(res);
        }
    })
    .catch(renderErrorWrapper);

const filtersForm = document.getElementById("filters");

const pickup_locationEl = document.getElementById("pickup_location");
const dropoff_locationEl = document.getElementById("dropoff_location");
const pickup_timerange_startEl = document.getElementById("pickup_timerange_start");
const pickup_timerange_endEl = document.getElementById("pickup_timerange_end");
const openEl = document.getElementById("open");
const closedEl = document.getElementById("closed");

filtersForm.addEventListener("submit", e => {
    e.preventDefault();

    let queryParameters = {
        pickup_location: pickup_locationEl.value,
        dropoff_location: dropoff_locationEl.value,
        pickup_timerange_start: timeStringToSeconds(pickup_timerange_startEl.value),
        pickup_timerange_end: timeStringToSeconds(pickup_timerange_endEl.value),
        open: openEl.checked,
        closed: closedEl.checked
    };

    fetch("/API/requests" + jsonToUrlParameters(queryParameters))
    .then(fetchMiddleware)
    .then(res => {
        if (typeof res === "string" && res.startsWith("Error: ")) {
            renderErrorWrapper(res);
        } else {
            renderRequests(res);
        }
    })
    .catch(renderErrorWrapper);
});
</script>