{% extends "base.html" %}

{% block title %}Raven Drives - Login{% endblock %}

{% block content %}
    <div class="centered-form-wrapper">
        <h2 class="text-center w-100">Login</h2>
        <form action="" method="post">
            <div>
                <label for="email">BC Email</label>
                <input type="email" name="email" id="email" placeholder="user@bc.edu" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="••••••••" required>
            </div>
            <div style="text-align: center; margin-top: 10px;">
                <input type="submit" value="Start Engine" class="btn w-100">
            </div>
        </form>
        <div style="margin-top: 20px; text-align: center; font-size: 0.9rem;">
            <p style="color: #666;">Don't have an account? <a href="signup.html">Create one</a></p>
        </div>
    </div>
{% endblock %}

